.bookContainer {
  display: grid;
  grid-template-columns: 1.2fr 2.5fr;
  grid-template-rows: 1.8fr 1fr 0.5fr 0.5fr 1.5fr;
  grid-template-areas:
    "img title"
    "img author"
    "img pages"
    "img price"
    "img btn";
  gap: 5px;
  padding: 5px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 3px 10px 0px rgba(50, 50, 69, 0.21);
}
.bookContainer h3 {
  margin: 0;
}
.bookContainer p {
  margin: 0;
}
.img {
  grid-area: img;
  align-self: center;
  justify-self: center;
  max-height: 190px;
  width: auto;
}
.title {
  grid-area: title;
}
.author {
  grid-area: author;
}
.pages {
  grid-area: pages;
}
.price {
  grid-area: price;
}

.btn {
  grid-area: btn;
}

@media screen and (max-width: 680px) {
  .btnAddToCard {
    font-size: 14px;
  }
  .img {
    max-height: 140px;
  }
}
