.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
  padding: 5px 45px;
  background: #fff;
  box-shadow: 1px 3px 10px 0px rgba(50, 50, 69, 0.21);
}
.empty {
  padding: 45px;
}
.container {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 2px;
  margin: 0;
}

@media screen and (max-width: 680px) {
  .header {
    flex-flow: wrap;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .container {
    grid-template-columns: 1fr;
  }
}
